/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.card{
  border: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 font-family: sans-serif;
 width: 200px;
 border-radius: 15px;
}

h4,p{
  color: gray;
}

.weatherApp{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

input{
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  color: gray;
}

button{
  padding: 10px;
  border: none;
  background-color:rgb(44, 155, 32);
  border-radius: 5px;
  color: white;
}

.weather-cards{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
